---
import Navbar from "./components/navbar.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
<Navbar/>
	<body>
		<h1>Entradas recientes</h1>
        <p>Este es el ejemplo de una nueva publicación </p>
	</body>
</html>
